// Home
#page-home {
  .main-hero {
    &__content {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      @include breakpoint-down("md") {
        max-width: 400px;
        width: calc(100% - 30px);
      }
    }
    &__slide {
      width: 100%;
      height: 100vh;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &--1 {
        background-image: url(/assets/images/home/hero-slide-01.png);
        .main-hero__content {
          max-width: 450px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include breakpoint("md") {
            top: 30%;
            left: 70%;
          }
        }
      }
      &--2 {
        background-image: url(/assets/images/home/hero-slide-02.png);
        .main-hero__content {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include breakpoint("md") {
            flex-direction: row;
            top: 70%;
            left: 50%;
          }
        }
      }
      &--3 {
        background-image: url(/assets/images/home/hero-slide-03.png);
        .main-hero__content {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);    
          @include breakpoint("md") {
            flex-direction: row;
            top: 30%;
            left: 50%;
          }
        }
      }
    }
    &__logo {
      max-width: 125px;
      margin: 20px;
      @include breakpoint("sm") {
        max-width: 150px;
      }
      @include breakpoint("md") {
        max-width: 185px;
      }
    }
    &__text {
      text-align: center;
      &-main {
        max-width: 320px;
        margin-bottom: 10px;
        @include breakpoint("sm") {
          max-width: 450px;
        }
        @include breakpoint("md") {
          max-width: 650px;
        }
      }
      &-sub {
        font-size: 14px;
        color: $white-color;
        font-weight: 300;
        @include breakpoint("md") {
          font-size: 17px;
        }
      }
      &-button {
        display: inline-flex;
        color: $white-color;
        border-radius: 20px;
        overflow: hidden;
        font-size: 16px;
        line-height: 20px;
        padding: 10px 30px;
        margin-top: 30px;
        background: linear-gradient(270deg, rgba(196, 196, 196, 0.7) 0%, rgba(196, 196, 196, 0) 100%);
      }
    }

    .slick {
      &-dots {
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        z-index: 999;
        display: flex !important;

        button {
          margin: 5px;
          border: none;
          outline: none;
          font-size: 0;
          width: 40px;
          height: 6px;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 10px;
          transition: .5s;
          &:hover {
            background: rgba(255, 255, 255, 1);
          }
        }
      }
      &-active {
        button {
          background: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .about-team {
    padding: 60px 0;
    @include breakpoint("md") {
      padding: 80px 0 135px;
    }
    &__head {
      max-width: 780px;
      margin: 0 auto;
      p {
        line-height: 25px;
      }
    }
  }
  .about {
    background-image: url(/assets/images/home/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px bottom;
    padding: 60px 0;
    @include breakpoint("md") {
      padding: 120px 0 160px;
      background-position: left top;
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      @include breakpoint("sm") {
        flex-direction: row;
        align-items: flex-end;
      }
    }

    &__left {
      margin: 30px 0 0 auto;
      @include breakpoint("md") {
        margin: 0 0 -100px 0;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      color: $black-color-light;
      @include breakpoint-down("sm") {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        color: $black-color;
      }
    }
  }
  .activity {
    padding: 60px 0;
    @include breakpoint("md") {
      padding: 120px 0 60px;
    }
    &__list {
      max-width: 930px;
      margin: 0 auto;
    }
    &__item {
      max-width: 290px;
      text-align: center;
      color: $primary-color;
      margin: 0 auto 30px;
      @include breakpoint("md") {
        margin: 0 auto 60px;
      }
      &-image {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 12px;
        @include breakpoint("md") {
          margin-bottom: 16px;
        }
        img {
          transition: all 0.3s;
        }
      }

      &:hover {
        .activity__item-image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .service {
    border-top: 1px solid #CCC;
    padding: 60px 0;
    background-image: url(/assets/images/home/service-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    @include breakpoint("md") {
      border-top: none;
      padding: 60px 0 80px;
    }
    &__list {
      position: relative;
      max-width: 900px;
      margin: 0 auto 30px;
      @include breakpoint("md") {
        margin: 0 auto 60px;
      }
    }

    &__item {
      margin: 0 6px;
      box-shadow: 0px 0px 5px 0px rgba(#000000, 0.1);
      min-width: 200px;
      max-width: 290px;
      min-height: 200px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      background: rgba(#000000, 0.1);

      img {
        width: 100%;
        height: 100%;
        min-height: 200px;
        object-fit: cover;
        transition: .3s;
      }
      &-name {
        text-align: center;
        padding: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
        transition: background-color .3s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
        .service__item-name {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  .feedback {
    padding: 60px 0;
    @include breakpoint("md") {
      padding: 120px 0;
    }

    &__avatar {
      width: 30px;
      height: 30px;
      border: 1px solid $primary-color;
      border-radius: 50%;
      overflow: hidden;
    }
    &__item {
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      margin-bottom: 20px;
      padding: 20px;
      @include breakpoint("sm") {
        padding: 30px;
      }
      @include breakpoint("md") {
        padding: 26px 40px 30px;
      }
    }
  }
  .news {
    position: relative;
    padding: 45px 0 60px;
    background-image: url(/assets/images/home/hero-slide-02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint("md") {
      padding: 45px 0 120px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .6);
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
    }
    &__list {
      position: relative;
      max-width: 928px;
      margin: 0 auto;
      @include breakpoint("md") {
        margin: 0 auto;
      }
    }
    &__item {
      margin: 0 6px;
      box-shadow: 0px 0px 5px 0px rgba(#000000, 0.1);
      min-width: 200px;
      max-width: 220px;
      min-height: 220px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      background: rgba(#000000, 0.1);

      img {
        min-height: 200px;
        transition: .3s;
      }
      &-title {
        padding: 8px 10px 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white-color;
        transition: background-color .3s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}